.ant-card {
    max-width: 454px;
    max-height: 281px;
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-column-gap: 20px;
    background-color: #FFFFFF;

}

div .ant-card-body {
    position: relative;
    padding: 0 0 12px 0;
    margin-top: 12px;
    margin-right: 9px;
    max-height: 281px;
    display: flex;
    flex-direction: column;

}

.ant-card-cover img {
    max-height: 281px;
    object-fit: cover;

}
.card-tags{
    margin-top: 5px;
}
span.ant-tag {
    max-width: 46px;
    max-height: 20px;
    margin-right: 5px;
}

span.ant-typography {
    margin-top: 5px;
    font-size: 1vw;
}

@media (min-width: 1024px ) {
    span.ant-typography {
        font-size: 12px;
    }
}

ul.ant-rate {
    font-size: 1vw;
    margin-top: auto;
    margin-bottom: 5px;


}

@media (min-width: 1024px ) {
    ul.ant-rate {
        font-size: 14px;
    }
}

.card-title {
    display: grid;
    grid-template-columns: 1fr 40px;
    font-weight: bold;
}

.card-film-title {
    margin-bottom: 0;
}

.stars-count {
    display: flex;
    border: 2px solid #EEDC40;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 11px;
    justify-content: center;
    align-items: center;


}